@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e0e0e0;

    --text-primary: #000000;
    --text-secondary: #747474;

    --primary: #0429ad;

    --radius: 0.5rem;
  }

  /* START - Custom Fonts */

  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../assets/fonts/Inter-Regular.ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('../assets/fonts/Inter-medium.ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('../assets/fonts/Inter-SemiBold.ttf');
  }

  /* END - Custom Fonts */

  * {
    box-sizing: border-box;
  }

  html {
    @apply font-inter;
  }

  body {
    @apply bg-gradient-to-b from-white to-background;
  }
}

@layer utilities {
  .link-text {
    @apply font-bold text-lg cursor-pointer text-text-secondary;
  }

  .content-container {
    @apply fixed top-[18%] w-2/4 text-center left-1/2 -translate-x-1/2 space-y-4;
  }

  .label-text {
    @apply text-5xl text-text-primary font-bold;
  }

  .description-text {
    @apply text-2xl text-text-secondary font-semibold;
  }
}

.custom-border-radius {
  border-radius: 23% 14% 13% 25% / 100% 52% 48% 0%;
}

.active {
  position: relative;
  color: var(--text-primary);
}

.active::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  margin-top: 20px;
}
